fastapi
uvicorn
langchain
langchain-core
sentence-transformers>=2.2.2
faiss-cpu
numpy>=1.20.0
python-dotenv
python-multipart
httpx
PyMuPDF==1.22.5
docx2txt
torch==2.2.1 --index-url https://download.pytorch.org/whl/cpu
transformers==4.38.2
typing_extensions
pydantic 